extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, aperiam incidunt! Ea dolorum fugiat soluta quis ut? Incidunt tempora at dicta labore, recusandae ratione laboriosam dolorum quod voluptate ullam sed! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, aliquam ea non iste vitae maxime expedita officia labore nisi minima voluptatem quaerat quos vero eius assumenda aspernatur. Laudantium, maxime maiores.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nostrum eius possimus, magni porro aspernatur dolor sunt natus earum debitis nihil recusandae quam! Sit perferendis repellat dolorem distinctio id velit?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum impedit suscipit qui. Provident, atque. Necessitatibus dicta voluptatibus excepturi dolorem iusto ad atque libero consequuntur.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4" alt="")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium beatae aliquam temporibus voluptates placeat 
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4" alt="")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium beatae aliquam temporibus voluptates placeat
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4" alt="")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium beatae aliquam temporibus voluptates placeat 
        